*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.container{
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding: 10px;
}
a{
  text-decoration: none;
}
:root{
  --main: #121227;
  --white: #fff;
  --green: #0f0;
  --red: #f00;
}

/* navbar */
.navbar{
  width: 100%;
  padding: 10px;
  background: var(--main);
}
.navbar-main{
  display: flex;
  justify-content: space-between;
}
.navbar-main a{
  color: var(--white);
}
.cart{
  position: relative;
}
.cart span{
  position: absolute;
  top: -10px;
  right: -15px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--red);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}
input{
  padding: 5px;
}

/* products */
.products{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}
.product{
  width: 20%;
  min-width: 150px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 4px 1px rgba(0,0,0,.1);
  flex: 1;
  padding: 5px;
}
.product-image{
  width: 100%;
  height: 150px;
}
.product-image img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.product-add-btn{
  padding: 8px 20px;
  border-radius: 5px;
  background: var(--main);
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: .3s;
}
.product-add-btn:hover{
  background: var(--green);
}
/* cart */
.cart{
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.cart-items{
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.cart-counter{
  width: 30%;
  border-radius: 10px;
  height: 200px;
  box-shadow: 0 0 5px 2px rgba(0,0,0,.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
.cart-item{
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 5px 2px rgba(0,0,0,.1);
  padding: 10px;
  border-radius: 10px;
}
.cart-img{
  width: 200px;
  height: 100%;
}
.cart-img img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.cart-item-remove, 
.cart-total-buy-btn{
  display: flex;
  padding: 5px 10px;
  background: var(--red);
  color: var(--white);
  border-radius: 5px;
  cursor: pointer;
}
.cart-total-buy-btn{
  background: var(--green);
}